:root {
    --main-font: sans-serif;
    --font-size: 16rx;
    --main-color: #f7df1e;
    --seconday-color: rgb(146, 210, 1);
    --main-modal-color: rgb(247, 222, 30, 0.85);
    --second-modal-color: rgba(14, 16, 18, 0.85);
    --grayColor: rgb(201, 194, 194);
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*,
*::before *::after {
    box-sizing: border-box;
    margin: 0;
}
.text-start{
    text-align: start;
}
.text-center{
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

.btn {
   
    padding: 0.8rem;
    text-decoration: none;
    color: var(--second-modal-color);
    border-radius: 0.5rem;
    display: inline-block;
    font-weight: bold;
}
.btn-contact{
    background-color: var(--main-color);
}


@media (min-width: 768px) {
    .about {
        display: flex;
        align-items: center;
      
        
    }
    .about>* {
        flex: 0 0 calc(48%);
    }
}
.about{
    padding: 1rem;
    background-color: white;
}

.my-profile img {
    width:96%; 
}

.my-profile-description{
    background-color: var(--main-color);
    padding: 1.6rem;
   
 
}

.my-profile-description p {
    line-height: 2rem; 
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    color: black;
}


.hero-image {
    background-image: url("../assets/fondo3.jpg");
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.hero-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
}

.hero-title {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    letter-spacing: 0.7rem;
    font-size:1.5rem;
    color: white;
}


/*header*/

.header {
    padding: 0.7rem;
    background-color: var(--main-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
   
   
}
.header-menu-mobile{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header a {
    text-decoration: none;
    color: var(--second-modal-color);
}


.menu{

    display: none;
  
}
.menu a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    transition: transform .5s;
    cursor: pointer;
}


@media (min-width: 1024px) {
    .header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .menu {
         display: block;
        display: flex;
        flex-flow: row wrap;
      

    }
}

@media (min-width: 768px) {
    .panel-btn {
        display: none;
    }
 }
 

.panel-btn img{
    width: 35px;
    align-content: center;
    
}

.active{
    display: block;
}

/*fin header*/

.seccion {
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding-top: 4rem;
   
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

.seccion .title{
    border-top: thin solid var(--seconday-color);
    border-bottom: thin solid var(--seconday-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 250px;
    text-align: center;
    color: var(--title-color);
    font-size: 2rem;
    font-weight: 400;
}

.scroll-boton {
    position: fixed;
    right: 2vh;
    bottom: 1vh;
    background-color: var(--seconday-color);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: none;
    font-size: 2rem;
    z-index: 999;
}

.whatsapp-button {
    z-index: 999;
    position: fixed;
    left: 2vh;
    bottom: 1vh;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: center;
    background-image: url("http://1000marcas.net/wp-content/uploads/2019/11/WhatsApp-logo.png");
}

.btn-visible {
    visibility: visible;
}

.btn-no-visible {
    visibility: hidden;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 2rem;
}

.card2 {
   height: 460px;
    transition: transform .5s;
    flex: 0 0 100%;
    color: black;
    background-color: white;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 25%);
}
.card2 figcaption{
    padding: 0.8rem;
}
.card2 figcaption p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.card2 img {
    width: 100%;
    object-fit: fill;
    height: 50%;
}

.card {
    background-color: rgb(22, 20, 25);
    border-radius: 5%;
    transition: transform .5s;
    flex: 0 0 100%;
}

.card img {
    border-radius: 5%;
    width: 40%;
}

.card figcaption {
    font-size: 20px;
    margin: 1rem;
    color:var(--seconday-color);
    font-weight: bold;
}

.card h1 {
    color:var(--seconday-color);
}

.card p {
    color: white;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.02);
    opacity: .9;
}

.card2:hover {
    cursor: pointer;
    transform: scale(1.02);
    opacity: .9;
}

@media (min-width: 576px) {
    .card {
        flex: 0 0 50%;
    }
    .card2 {
        flex: 0 0 50%;
    }
}

@media (min-width: 768px) {
    .card {
        flex: 0 0 100%;
    }
    .card2 {
        flex: 0 0 33.333333333333333333333333333333%;
    }
}

@media (min-width: 992px) {
    .card {
        flex: 0 0 25%;
    }
    .card2 {
        flex: 0 0 25%;
    }
}

.dark-mode {
    background-color: var(--second-modal-color);
    color: white;
}

.dark-mode .menu a {
    color: white;
}

.dark-mode header a {
    color: white;
}

.footer {
    background-color: rgb(36, 31, 31);
    color: white;
    padding: 4.5rem;
    text-align: center;
    opacity: .9;
}

.content-footer {
    display: flex;
    flex-direction: column;
}

.list-social a {
    display: inline-block;
    margin-right: 1rem;
    color: white;
}



.btn-cv {
   
    background-color: rgb(146, 210, 1);
    
}